@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    background-color: white;
}

body {
    margin: 0;
    text-align: center;
}

/*MAIN*/
main {
    
}

main h1 {
    font-size: 2em;
    font-weight: bold;
}

main #cloudbtn {
    font-size: 4em;
    margin: 0;
    transition: .5s all ease;
    position: relative;
    top: 0px;
    display: inline;
}

main #cloudbtn:hover {
    font-size: 5em;
    top: -10px;
    cursor: url('../img/fire.png'), auto;
}

/*FOOTER*/
footer {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
}

footer #umbrella {
    margin: 0;
    padding: 0;
}